<ion-content>
  <ion-item (click)="presentModal()" color="tertiary">	
    <ion-avatar slot="start">
      <ion-img src="assets/icon/favicon.png"></ion-img>
    </ion-avatar>
    <ion-label>
      <h2>Buscar Nuevos Empleados</h2>
    </ion-label>
    <ion-icon name="search"></ion-icon>
  </ion-item>
  <ion-list *ngFor="let empleado of empleados$ | async; trackBy: trackById">
    <ion-item (click)="goto(empleado.uid)">
      <ion-label>{{empleado.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
