<ion-content>
    <br>
    <ion-item (click)="goto()" lines="none" class="content">
      <div class="card">
        <div class="firstinfo">
          <ion-avatar>
            <ion-img src="assets/img/avatar.png"></ion-img>
          </ion-avatar>
          <div class="profileinfo">
            <h2>Nuevo Plan</h2>
            <h3>Fecha</h3>
            <ion-badge color="primary">tags</ion-badge>
            <ion-label class="bio" text-wrap>direccion</ion-label>
          </div>
        </div>
      </div>
      <ion-icon class="add" slot="end" name="add" (click)="goto()"></ion-icon>
    </ion-item>
    <ion-list lines="none">
      <ion-item  class="content margin" (click)="goto()" *ngFor="let plan of plans$ | async; trackBy: trackById" (click)="goto(plan.uid)">      
        <span *ngIf="plan.gaugin===plan.userFlow" class="ribbon">completo</span>
        <div [class]="plan.isPrivate ? 'card glowing-border' : 'card'">
          <div class="firstinfo">
            <ion-avatar class="text-avatar">
                <ion-label class="glow">{{plan.price}} €</ion-label>
            </ion-avatar>          
            <div class="profileinfo">
              <h2>{{plan.displayName}}</h2>
              <h3>{{plan.dateString}} - {{plan.durationString}}</h3>
              <div>
                <ion-badge *ngIf="plan.isPrivate" class="glowing-border" color="primary">privado</ion-badge>
                <ion-badge *ngFor="let tag of plan.tags" color="primary" style="max-width: 80%;margin-left:2px">{{tag}}</ion-badge>
              </div>
              <ion-label class="bio" text-wrap>{{plan.locationList[0].displayName}}</ion-label>
            </div>
          </div>
        </div>
        <ion-icon class="trash" slot="end" name="trash" (click)="remove(plan)"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-content>