<ion-content>
  Gestion works!

  <!--<ion-item (click)="goto()" color="tertiary">	
    <ion-avatar slot="start">
      <ion-img src="assets/icon/favicon.png"></ion-img>
    </ion-avatar>
    <ion-label>
      <h2>Crear Nuevo Evento</h2>
    </ion-label>
    <ion-icon name="add-circle" style="font-size:2rem"></ion-icon>
  </ion-item>
  <ion-list *ngFor="let event of events$ | async; trackBy: trackById">
    <ion-item (click)="goto(event.uid)">
      <ion-label>{{event.name}}</ion-label>
    </ion-item>
  </ion-list>-->
</ion-content>
