// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.ion-color-facebook {
    --ion-color-base:#2d4373;
    --ion-color-base-rgb: rgb(#2d4373);
    --ion-color-contrast:#ffffff;
    --ion-color-contrast-rgb: f,f,f;
    --ion-color-shade: #283b65;
    --ion-color-tint: #425681;
  }

.ion-color-facebook-back {
    --ion-color-base:linear-gradient(to top, #3b5998, #2b4170);
    --ion-color-base-rgb: rgb(linear-gradient(to top, #3b5998, #2b4170));
    --ion-color-contrast:#ffffff;
    --ion-color-contrast-rgb: f,f,f;
    --ion-color-shade: linear-gradient(to top, #3b5998, #2b4170);
    --ion-color-tint: linear-gradient(to top, #3b5998, #2b4170);
}

.ion-color-black {
    --ion-color-base:linear-gradient(to right, #485563 0%, #29323c 51%, #485563 100%);
    --ion-color-base-rgb: rgb(linear-gradient(to right, #485563 0%, #29323c 51%, #485563 100%));
    --ion-color-contrast:#b4bfbf;
    --ion-color-contrast-rgb: rgb(#b4bfbf);
    --ion-color-shade: linear-gradient(155deg, #3f4b57 0%, #242c35 100%);
    --ion-color-tint: linear-gradient(155deg, #5a6673 0%, #3e4750 100%);
}

.ion-color-plain-black {
    --ion-color-base:#000;
    --ion-color-base-rgb: rgb(0,0,0);
    --ion-color-contrast:#b4bfbf;
    --ion-color-contrast-rgb: rgb(#b4bfbf);
    --ion-color-shade: #000;
    --ion-color-tint: #1a1a1a;
}

.ion-color-plain-white {
    --ion-color-base:#fff;
    --ion-color-base-rgb: rgb(f,f,f);
    --ion-color-contrast:#000;
    --ion-color-contrast-rgb: rgb(#000);
    --ion-color-shade: #e0e0e0;
    --ion-color-tint: #ffffff;
}

.ion-color-palette {
    --ion-color-base:linear-gradient(to top, #fe7444 0%, #d647a6 17%, #57aefe 83%, #2ff6f4 100% );
    --ion-color-base-rgb:linear-gradient(to top, rgb(254, 116, 68) 0%, rgb(214, 71, 166) 33%, rgb(87, 174, 254) 66%, rgb(47, 246, 244) 100% );
    --ion-color-contrast:#fff;
    --ion-color-contrast-rgb: rgb(#fff);
    --ion-color-shade: linear-gradient(to top, #e0663c 0%, #bc3e92 17%, #4d99e0 83%, #29d8d7 100% );
    --ion-color-tint: linear-gradient(to top, #feb6fe 0%, #da59af 17%, #68b6fe 83%, #44f7f5 100% );
}

.hydrated {
    font-size: calc(0.7rem + 0.4vw);
}

@media (min-width: 720px) {
    .hydrated {
      font-size: 1rem;
    }
}