// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.ion-color-facebook {
    --ion-color-base:#2d4373;
    --ion-color-base-rgb: rgb(#2d4373);
    --ion-color-contrast:#ffffff;
    --ion-color-contrast-rgb: f,f,f;
    --ion-color-shade: #283b65;
    --ion-color-tint: #425681;
  }

.ion-color-facebook-back {
    --ion-color-base:linear-gradient(to top, #3b5998, #2b4170);
    --ion-color-base-rgb: rgb(linear-gradient(to top, #3b5998, #2b4170));
    --ion-color-contrast:#ffffff;
    --ion-color-contrast-rgb: f,f,f;
    --ion-color-shade: linear-gradient(to top, #3b5998, #2b4170);
    --ion-color-tint: linear-gradient(to top, #3b5998, #2b4170);
}