ion-icon {
    font-size:2rem
}

.ticket {
    background-color:#f5f5f5;
    max-width: 97vw;
    width:100%;
    color: #32465a;
}

.codebar {    

@font-face {
    font-family: 'Barcode';
    src: url('assets/fonts/barcode.ttf');
}
    //--ion-font-family: 'Barcode';
    font-family: 'Barcode'!important;
    color:#f5f5f5;    
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    float:left;
    transform-origin: left;
    left: 2.6vw;
    top: 4.5vh;
    position: absolute;
}

.trash {
    background-color: var(--ion-color-danger);
    color: #f5f5f5;
    height: 100%;
}

.info {
    max-width: 80%;
}




