<ion-content>
  <ion-list lines="none" *ngIf="notificaciones$ | async">
      <ion-item color="tertiary">        
          <ion-label>Enviado por</ion-label>
          <ion-label text-center>Mensaje</ion-label>
          <ion-label text-right>Acciones</ion-label>                                 
      </ion-item>
      <ion-item lines="none" *ngFor="let notificacion of notificaciones$ | async">
          <ion-label>{{notificacion.from}}</ion-label>
          <ion-label text-center>{{notificacion.body}}</ion-label>
          <ion-label text-right>                
              <ion-button *ngFor="let action of notificacion.actions">
                  <ion-icon name="{{action.icon}}"></ion-icon>
              </ion-button>
          </ion-label>
      </ion-item>
  </ion-list>
</ion-content>
