<ion-header *ngIf="!back">  
    <ion-toolbar>
        <ion-buttons>
            <ion-button (click)="goto('navigator/notificaciones/notificaciones')">
                  <ion-label>Notificaciones</ion-label>
            </ion-button>
            <ion-button (click)="goto('navigator/notificaciones/gestion')">
               <ion-label>Gestion</ion-label>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-router-outlet></ion-router-outlet>
</ion-content>
