<ion-content>
    <br>
    <ion-item (click)="goto()" lines="none" class="content">
      <div class="card">
        <div class="firstinfo">
          <ion-avatar>
            <ion-img src="assets/img/avatar.png"></ion-img>
          </ion-avatar>
          <div class="profileinfo">
            <h2>Nueva Localizacion</h2>
            <h3>Address</h3>
            <ion-badge color="primary">tags</ion-badge>
          </div>
        </div>
      </div>
      <ion-icon class="add" slot="end" name="add" (click)="goto()"></ion-icon>
    </ion-item>
    <ion-list lines="none">
      <ion-item  class="content margin" (click)="goto()" *ngFor="let club of locations$ | async; trackBy: trackById" (click)="goto(club.uid)">      
        <span *ngIf="club.gaugin===club.userFlow" class="ribbon">completo</span>
        <div [class]="club.isPrivate ? 'card glowing-border' : 'card'">
          <div class="firstinfo">
            <ion-avatar>
                <ion-img [src]="club.url | async"></ion-img>
            </ion-avatar>          
            <div class="profileinfo">
              <h2>{{club.displayName}}</h2>
              <h3>{{club.address}}</h3>
              <div>                
                <ion-badge *ngFor="let tag of club.tags" color="primary" style="max-width: 80%;margin-left:2px">{{tag}}</ion-badge>
              </div>
            </div>
          </div>
        </div>
        <ion-icon class="trash" slot="end" name="trash" (click)="remove(club)"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-content>