<ion-content>
  <ion-item (click)="goto()" color="tertiary">	
    <ion-avatar slot="start">
      <ion-img src="assets/icon/favicon.png"></ion-img>
    </ion-avatar>
    <ion-label>
      <h2>Añadir Nueva Localizacion</h2>
    </ion-label>
    <ion-icon name="add-circle"></ion-icon>
  </ion-item>
  <ion-list lines="none">
    <ion-item lines="none" class="relative" *ngFor="let location of locations$ | async; trackBy: trackById" (click)="goto(location.uid)">
      <ion-img class="background" [src]="location.url | async"></ion-img>
      <ion-label class="trans name">{{location.displayName}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
