<ion-header *ngIf="!back">
  <ion-toolbar>
      <!--<ion-tab-bar>
          <ion-tab-button (click)="goto('navigator/general/info')">
             <ion-label>Info</ion-label>
          </ion-tab-button>
          <ion-tab-button (click)="goto('navigator/general/preferencias')">
             <ion-label>Preferencias</ion-label>
          </ion-tab-button>
          <ion-tab-button (click)="goto('navigator/general/estadisticas')">
             <ion-label>Estadisticas</ion-label>
          </ion-tab-button>
          <ion-tab-button (click)="goto('navigator/general/bans')">
             <ion-label>Bans</ion-label>
          </ion-tab-button>
      </ion-tab-bar>-->
      <ion-buttons>
         <ion-button (click)="goto('navigator/general/info')">
            <ion-label>Info</ion-label>
         </ion-button>
         <ion-button (click)="goto('navigator/general/preferencias')">
            <ion-label>Preferencias</ion-label>
         </ion-button>
         <ion-button (click)="goto('navigator/general/estadisticas')">
            <ion-label>Estadisticas</ion-label>
         </ion-button>
         <ion-button (click)="goto('navigator/general/bans')">
            <ion-label>Bans</ion-label>
         </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-router-outlet></ion-router-outlet>
</ion-content>
