<ion-header *ngIf="!back">  
    <ion-toolbar>
        <ion-buttons>
            <ion-button (click)="goto('navigator/gestion/eventos')">
                  <ion-label>Eventos</ion-label>
            </ion-button>
            <ion-button (click)="goto('navigator/gestion/planes')">
               <ion-label>Planes</ion-label>
            </ion-button>
            <ion-button (click)="goto('navigator/gestion/clubs')">
               <ion-label>Clubs</ion-label>
            </ion-button>
            <ion-button (click)="goto('navigator/gestion/entradas')">
               <ion-label>Entradas</ion-label>
            </ion-button>
            <ion-button (click)="goto('navigator/gestion/empleados')">
               <ion-label>Empleados</ion-label>
            </ion-button>
            <ion-button (click)="goto('navigator/gestion/promos')">
               <ion-label>Promos</ion-label>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-router-outlet></ion-router-outlet>
</ion-content>