<ion-header no-boder>  
    <ion-toolbar>
        <ion-tab-bar>
            <ion-tab-button (click)="goto('navigator/gestion/eventos')">
               <ion-label>Eventos</ion-label>
            </ion-tab-button>
            <ion-tab-button (click)="goto('navigator/gestion/planes')">
               <ion-label>Planes</ion-label>
            </ion-tab-button>
            <ion-tab-button (click)="goto('navigator/gestion/clubs')">
               <ion-label>Clubs</ion-label>
            </ion-tab-button>
            <ion-tab-button (click)="goto('navigator/gestion/entradas')">
               <ion-label>Entradas</ion-label>
            </ion-tab-button>
            <ion-tab-button (click)="goto('navigator/gestion/empleados')">
               <ion-label>Empleados</ion-label>
            </ion-tab-button>
            <ion-tab-button (click)="goto('navigator/gestion/promos')">
               <ion-label>Promos</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-router-outlet></ion-router-outlet>
</ion-content>