<ion-header>
  <ion-toolbar>
    <ion-buttons *ngIf="feed.get(database.VAR_BACK)" slot="start">
      <ion-button (click)="feed.next(database.VAR_BACK,false)" [routerLink]="[feed.get(database.VAR_BACK_URL)]">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{feed.get('header')}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <router-outlet></router-outlet>
</ion-content>
<ion-footer>
  <tabs [tabs]=mainTabs></tabs>
</ion-footer>
