<ion-header>
  <ion-toolbar>
    <ion-buttons *ngIf="back" slot="start">
      <ion-button (click)="gotoBack()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text-center>{{header}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button (click)="goto('navigator/gestion/eventos')">
          <ion-icon name="play"></ion-icon>
          <ion-label>Gestion</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="goto('navigator/chat')">
          <ion-icon name="list"></ion-icon>
          <ion-label>Chat</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="goto('navigator/notificaciones')">
          <ion-icon name="list"></ion-icon>
          <ion-label>Notificaciones</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="goto('navigator/general/info')">
          <ion-icon name="book"></ion-icon>
          <ion-label>General</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>