 /*.hydrated {
    outline: 1px solid red;       
 }*/

ion-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;        
}

ion-button {
    display: inherit;
    flex-direction: column;
}

ion-button:hover {
    color: var(--ion-color-primary);
}

ion-title {
    font-size: 12px!important;
}