/*ion-toolbar {
    --ion-color-medium: url("assets/img/choque.jpg") center / 100%;
}*/

ion-buttons.up {
    margin-top: -4em;
}

ion-badge {
    margin-left: 5px;
}

ion-avatar {
    margin: auto;
}

ion-footer {
    background-color: var(--ion-color-primary)
}